header{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator-body{
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
}

button{
    height: 100%;
    width: 100%;
    color: rgb(240, 240, 240);
}

#equals{
    background-color: pink;
    color: black;
}

.operator, #back, #clear{
    background-color: black;
}

.number, #dot{
    background-color: #444444;
}